@import "./submenu.scss";
li{
    list-style: none;
    display: flex;
    span{
        
    }
}

.tree{
    &__value{
        color:red;
        &:hover{
            font-weight: bold;
            cursor: pointer;

        }
    }
    &__object{
        color:blue;
        &--hover:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }
   &__button-hidden{
       visibility: collapse;
       &:hover{
           visibility: visible;
       }
   }
}